<app-tabs [educationTab]="education" [experienceTab]="experience" [skillsTab]="skills" [contactMeTab]="contactme">
</app-tabs>

<ng-template #experience>
  <app-section title="Experience" [isDisplayTitle]="false" backgroundColor="whitesmoke">
    <div *ngFor="let experience of experiences" class="an-Experience">
      <app-experience [experience]="experience"></app-experience>
    </div>
  </app-section>
</ng-template>

<ng-template #education>
  <app-section title="Education" [isDisplayTitle]="false" backgroundColor="whitesmoke" appsectionimageediting>
    <app-three-column-layout [left]="leftIntro" [center]="centerIntro" [right]="rightIntro">
      <ng-template #leftIntro>
        <app-titled-text-box [title]="organizedIntroTitle" [text]="organizedIntroText"></app-titled-text-box>
      </ng-template>
      <ng-template #centerIntro>
        <app-titled-text-box [title]="resourcefulIntroTitle" [text]="resourcefulIntroText"></app-titled-text-box>
      </ng-template>
      <ng-template #rightIntro>
        <app-titled-text-box [title]="creativeIntroTitle" [text]="creativeIntroText"></app-titled-text-box>
      </ng-template>
    </app-three-column-layout>
    <hr width="75%" />
    <app-two-column-main-left-layout [left]="leftAbout" [right]="rightAbout">
      <ng-template #leftAbout>
        <app-titled-text-box [title]="aboutTitle" [text]="aboutText"></app-titled-text-box>
      </ng-template>
      <ng-template #rightAbout
        >Angular<p-progressBar [value]="angularValue"></p-progressBar> AWS<p-progressBar
          [value]="awsValue"
        ></p-progressBar>
        Sass<p-progressBar [value]="sassValue"></p-progressBar>
      </ng-template>
    </app-two-column-main-left-layout>
  </app-section>
</ng-template>
<!-- <app-section backgroundImage="LASkyline3.jpg" backgroundColor="whitesmoke">
  <app-quote [quote]="quote1" [author]="author1"></app-quote>
</app-section> -->

<ng-template #skills>
  <app-section title="Services" [isDisplayTitle]="false" appsectiontextediting appsectionimageediting>
    <app-three-column-layout [left]="leftService" [center]="centerService" [right]="rightService">
      <ng-template #leftService>
        <app-provided-service
          class="col-4"
          iconName="desktop"
          title="Operating Systems"
          [description]="websitesProvidedServiceDescription"
        ></app-provided-service>
      </ng-template>
      <ng-template #centerService>
        <app-provided-service
          class="col-4"
          iconName="globe"
          title="Browser"
          [description]="webapplicationProvidedServiceDescription"
        ></app-provided-service>
      </ng-template>
      <ng-template #rightService>
        <app-provided-service
          class="col-4"
          iconName="code"
          title="Javascript"
          [description]="outsideworkProvidedServiceDescription"
        ></app-provided-service>
      </ng-template>
    </app-three-column-layout>
    <app-provided-service
      class="col-4"
      iconName="list"
      title="Languages"
      [description]="outsideworkProvidedServiceDescription"
    ></app-provided-service>
  </app-section>
</ng-template>

<ng-template #contactme>
  <app-section
    #contactme
    title="Work with Me?"
    [isDisplayTitle]="false"
    [isDisplayTitle]="true"
    backgroundImage="parallax-contact.jpg"
    fontcolor="white"
    overlay="true"
  >
    <app-contact-block class="col-6"></app-contact-block>
    <app-contact-form class="col-6"></app-contact-form>
  </app-section>
</ng-template>

<app-context-menu-container></app-context-menu-container>
