<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>DEBUG PAGE TODO: Examples of each component</p>
  </div>
</div>
<app-section title="Services">
  <div class="container">
    <div class="row">
      <app-provided-service
        class="col-4"
        iconName="desktop"
        title="Websites"
        [description]="websitesProvidedServiceDescription"
      ></app-provided-service>
      <app-provided-service
        class="col-4"
        iconName="laptop-code"
        title="Web Apps"
        [description]="webapplicationProvidedServiceDescription"
      ></app-provided-service>
      <app-provided-service
        class="col-4"
        iconName="brain"
        title="Outside Work"
        [description]="outsideworkProvidedServiceDescription"
      ></app-provided-service>
    </div>
  </div>
</app-section>
<app-section title="Next Section" backgroundColor="whitesmoke">
  stuff stuff stuff stuff
</app-section>
