<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p>DEBUG PAGE TODO: Examples of each component</p>
  </div>
</div>
<app-section title="Introduction" backgroundColor="whitesmoke">
  <app-three-column-layout [left]="leftIntro" [center]="centerIntro" [right]="rightIntro">
    <ng-template #leftIntro
      ><app-titled-text-box [title]="organizedIntroTitle" [text]="organizedIntroText"></app-titled-text-box
    ></ng-template>
    <ng-template #centerIntro
      ><app-titled-text-box [title]="resourcefulIntroTitle" [text]="resourcefulIntroText"></app-titled-text-box
    ></ng-template>
    <ng-template #rightIntro
      ><app-titled-text-box [title]="creativeIntroTitle" [text]="creativeIntroText"></app-titled-text-box
    ></ng-template>
  </app-three-column-layout>
</app-section>
<app-section title="Services">
  <app-three-column-layout [left]="leftService" [center]="centerService" [right]="rightService">
    <ng-template #leftService
      ><app-provided-service
        class="col-4"
        iconName="desktop"
        title="Websites"
        [description]="websitesProvidedServiceDescription"
      ></app-provided-service
    ></ng-template>
    <ng-template #centerService
      ><app-provided-service
        class="col-4"
        iconName="laptop-code"
        title="Web Apps"
        [description]="webapplicationProvidedServiceDescription"
      ></app-provided-service
    ></ng-template>
    <ng-template #rightService
      ><app-provided-service
        class="col-4"
        iconName="brain"
        title="Outside Work"
        [description]="outsideworkProvidedServiceDescription"
      ></app-provided-service
    ></ng-template>
  </app-three-column-layout>
</app-section>
<app-section backgroundImage="LASkyline3.jpg" backgroundColor="whitesmoke">
  <app-quote [quote]="quote1" [author]="author1"></app-quote>
</app-section>
