#quote-content {
  font-size: 65px;
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}

#quote-author {
  right: 0;
  position: absolute;
  font-size: 24px;
  display: block;
  padding-right: 16px;
  padding-left: 16px;
}
