<p-tabView>
  <p-tabPanel class="educationStyle" header="Education">
    <ng-container *ngTemplateOutlet="educationTab"></ng-container>
  </p-tabPanel>
  <p-tabPanel class="skillsStyle" header="Skills">
    <ng-container *ngTemplateOutlet="skillsTab"></ng-container>
  </p-tabPanel>
  <p-tabPanel class="experienceStyle" header="Experience">
    <ng-container *ngTemplateOutlet="experienceTab"></ng-container>
  </p-tabPanel>
  <p-tabPanel class="contactMeStyle" header="Contact Me">
    <ng-container *ngTemplateOutlet="contactMeTab"></ng-container>
  </p-tabPanel>
</p-tabView>
