@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.nav-item {
  span {
    vertical-align: middle;
  }

  i {
    margin-right: 8px;
  }
}
