<div class="contact-info-title">Contact Info</div>
<div class="contact-info">
  <div class="contact-info-location"><i class="fas fa-map-marker-alt"></i>Los Angeles, CA</div>
  <div class="contact-info-phone"><i class="fas fa-phone"></i>410.701.0503</div>
  <div class="contact-info-email"><i class="fas fa-envelope-open-text"></i>terrell.singleton@gmail.com</div>
  <div class="contact-info-website"><i class="fas fa-desktop"></i>TBD</div>
  <div class="contact-info-instagram">
    <i class="fab fa-instagram"></i><a href="http://www.instagram.com/TheHandsomestNerd">TheHandsomestNerd</a>
  </div>
  <div class="contact-info-fb">
    <i class="fab fa-facebook-f"></i><a href="http://www.facebook.com/kamikazenupe1911">Kamikazenupe1911</a>
  </div>
</div>
