:host {
  display: inline-block;
}

i {
  margin-right: 12px;
}

.contact-info div {
  margin-bottom: 8px;
}

.contact-info-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.contact-info {
  margin-left: 32px;
}
