.jobTitle {
  font-size: 18px;
  font-weight: bold;
}

.jobCompany {
  font-size: 18px;
  margin-top: -8px;
}

.jobDates {
  font-size: 12px;
}

.jobLocation {
  font-size: 12px;
}

.experience-container {
  display: block;
  padding: 16px 24px;
  background-color: white;
  margin: 4px;
  // width:100%;
}
