<div class="row">
  <div class="col-6 contact-form-name">
    <div class="row">
      <div>
        <input placeholder="Name" />
      </div>
    </div>
  </div>

  <div class="col-6 contact-form-email">
    <div class="row">
      <div>
        <input placeholder="Email" />
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 contact-form-request">
    <div class="row">
      <div class="col-12">
        <textarea placeholder="How can I help you?"></textarea>
      </div>
    </div>
  </div>
</div>
